parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
#    doctrine:
#        objectManagerLoader: tests/object-manager.php
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
